.startup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  padding-top: 5vh;
  padding-bottom: 5vh;

  &__logo {
    width: 170px;
  }

  &__icon {
    width: 55%;
  }

  &__title {
    color: black;
    font-weight: 700;
    font-size: 32px;
    font-family: Poppins, sans-serif;
    line-height: 41.6px;
    text-align: center;
  }

  &__subtitle {
    padding-bottom: 40px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 300;
    font-size: 17px;
    font-family: Inter, sans-serif;
    line-height: 21.25px;
    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
  }
}
