.startup {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: space-between;
  border: 1px solid red;

  &__logo {
    width: 150px;
    padding-top: 5vh;
  }

  &__icon {
    width: 65%;
  }

  &__title {
    margin: 0;
    padding-bottom: 72px;
    color: var(--dark-color);
    font-weight: 600;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: Nunito, sans-serif;
    text-align: center;

    &_bold {
      font-weight: 700;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    padding-bottom: 102px;
  }
}
