.startup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;

  &__logo {
    width: 150px;
  }

  &__icon {
    width: 80%;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: Nunito, sans-serif;
    text-align: center;
  }

  &__buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-top: 50px;
  }
}
